body {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23EEEEEE' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: visible;
  font-family: "Inter", sans-serif;
  color: #333;
}

.main-content {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  overflow: visible;
}

:root {
  --primary-color: #cd5b68;
  --secondary-color: #2c3e50;
  --background-grey: #f7f7f7;
  --card-background: #ffffff;
  --text-color: #333;
  --font-dm-sans: "Robot Mono", sans-serif;
}
