.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.profile-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.profile-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.profile-form label,
.password-form label {
  padding-bottom: 5px;
  display: block;
  font-size: 0.95rem;
}

.profile-box-activity {
  text-align: center;
}

.profile-box h2 {
  margin-bottom: 0.7rem;
  margin-top: 0rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.profile-form input,
.password-form input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.profile-form button,
.password-form button {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #0066ff;
  color: white;
  font-size: 1rem;
  transition: background 0.2s;
  width: 100%;
}

.profile-form button:hover,
.password-form button:hover {
  background: #004bcc;
}

.success {
  margin-top: 0.8rem;
  color: green;
  font-weight: 500;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .profile-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .profile-box:nth-child(1) {
    grid-column: span 1;
    padding: 1.5rem 2rem;
  }

  .profile-box:nth-child(2) {
    grid-column: span 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .profile-box-activity {
    grid-column: 1 / -1;
    padding: 1.5rem 2rem;
    margin-top: -1rem;
  }

  .profile-box:nth-child(2) .password-form input {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .profile-box:nth-child(2) .password-form button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
  }

  .profile-form button {
    width: auto;
  }
}